* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.bloco{
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 20px;
}

.container {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
}
#leitura{
    text-align: justify;
    color: #333;
    float: left;
    width: 95%;
}
#leitura p{
    font-size: 17.5px;
    margin: 20px 0;
    line-height: 1.64;

}
#leitura h2{
    font-size: 30px;
    line-height: 1.2;
    margin: 20px 0;
}
#leitura h3{
    font-size: 23px;
    margin: 30px 0 10px 0;
}
header {
    background-color: #fdd66c;
    padding: 10px;
    text-align: center;
}
.links {
    display: flex;
    justify-content: center;
}
  
.external-navigation ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}
  
.external-navigation ul li {
    margin-right: 50px; 
}
  
.external-navigation ul li:last-child {
    margin-right: 0;
}
  
.external-navigation ul li a {
    text-decoration: none;
    display: inline-flex; 
    align-items: center;
    padding: 5px 30px;
    background-color: white;
    color: #000000;
    border-radius: 10px;
}
  
.external-navigation ul li a img {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.external-navigation ul li a:hover {
    background-color: #fce4c1;
}
  
.content {
    flex-grow: 1;
    padding: 15px; 
}

aside {
    float: left;
    width: 15%;
    padding-left: 1px;

}

#lista-topicos{
    list-style-type: none;
    padding: 0;
}

#lista-topicos a{
    text-decoration: none;
    color: black;
}

#lista-topicos li {
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
}

#bloco-topicos{
    text-align: justify;
    color: #333;
    float: left;
    width: 55%;
    padding-right: 38px;
}

#botao-cima{
    text-decoration: none;
    color: black;
    background-color: #fdd66c;
    padding: 13px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    box-shadow: 3px 3px 10px #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #fff;
}

/*tela arrumada para celular*/
@media screen and (max-width: 768px) {
    .external-navigation ul li {
        margin-right: 4px;
        text-align: center; 
    }
    
    .external-navigation ul li a {
        text-decoration: none;
        align-items: center;
        padding: 4px 4px;
        background-color: white;
        color: #000000;
        border-radius: 13px;
    }
      
    .external-navigation ul li a img {
        width: 15px;
        height: 15px;
        margin-right: 8px;
    }

    #titulo-pequeno{
        font-size: 15px;
    }

    #paragrafo-pequeno{
        font-size: 12.5px;
        margin: 20px 0;
        line-height: 1.64;
    }
    .bloco{
        padding: 15px;
        margin-top: 5px;
        font-size: 12px;
    }

    #leitura{
        width: 100%;
    }

    #leitura p{
        font-size: 12.5px;
        margin: 20px 0;
        line-height: 1.64;
    
    }

    #leitura h2{
        font-size: 23px;
        line-height: 1.2;
        margin: 20px 0;
    }

    #leitura h3{
        font-size: 15px;
    }

    #logo-flisol{
        width: 88%;
        height: 88%;
    }

    h1 {
        font-size: 25px;
    }

    #bloco-topicos{
        width: 55%;
        padding-right: 10px;
    }

    #bloco-topicos h3{
        text-align: center;
    }
}
